.settings
.project
.cproject
*.kdev4
.kdev4
CMakeCache.txt
CMakeFiles
CPackConfig.cmake
CPackSourceConfig.cmake
CTestTestfile.cmake
Makefile
_CPack_Packages
build
cmake_install.cmake
*.deb
install_manifest.txt
CMakeFiles
CTestTestfile.cmake
*.kdevelop
*.kdevelop.filelist
*.kdevses
Doxyfile
/Debug/
/Release/
